@font-face {
  font-display: swap;
  font-family: "Wellfleet";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/wellfleet-v22-latin-regular.woff2") format("woff2");
}

h1 {
  font-size: 60px;
  color: #FFB100;
}

body {
  font-family: "Wellfleet";
  background-image: url("img_pollo_locco/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

#canvas-container {
  position: relative;
}

.canvas-container {
  width: 100% !important;
  height: 100% !important;
}

#canvas {
  border-radius: 10px;
  width: 100% !important;
  height: 100% !important;
}

.game-symbols {
  position: absolute !important;
  cursor: pointer;
  top: 5px;
  right: 10px;
  z-index: 2;
  display: flex;
  gap: 11px;
}

.game-symbols img {
  width: 30px;
}

.game-symbols img:hover {
  filter: invert(90%) sepia(96%) saturate(6682%) hue-rotate(360deg) brightness(86%) contrast(99%);
  transform: scale(1.1);
}



.close {
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
  right: 10px;
  position: absolute;
  top: 10px;
}

#description-window {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.description-content {
  width: 100%;
  z-index: 2;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #29c386;
  border: 2px solid black;
  text-align: justify;
}

.close-btn {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #ff5733;
  color: white;
  border: none;
  cursor: pointer;
}

.legend-container {
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  height: 486px;
  width: 720px;
  background-color: rgba(0, 0, 0, 0.4);
  gap: 20px;
}

.controll-container {
  height: 70%;
  width: 50%;
  position: absolute;
  padding: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 18px;
  background-color: darkkhaki;
}

.move-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.move-left,
.move-right,
.jump,
.throw {
  height: 100%;
  display: flex;
  gap: 50px;
  margin-left: 70px;
  align-items: center;
}

.over-description {
  width: 110px;
}

.description {
  color: #ffd500;
  text-shadow: 2px 2px black;
  font-size: 24px !important;
}

.letter {
  color: white;
  background: black;
  border: double;
  font-size: 18px;
  padding: 10px;
  transition: color 0.3s ease;
}

.container {
  position: relative;
  /*width: 720px;
  height: 480px;*/
}

#startScreenContainer,
#gameOverScreen,
#lostContainer {
  position: absolute;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: end;
}

#gameOverScreen {
  background-image: url("img_pollo_locco/img/9_intro_outro_screens/game_over/game over!.png");
}

#lostContainer {
  background-image: url("img_pollo_locco/img/9_intro_outro_screens/game_over/oh no you lost!.png");
}

.restart-home-container,
.start-game-container {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.restart-home-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  box-sizing: border-box;
}

.restart-button {
  background: darkkhaki;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
}

.restart-button:hover {
  background-color: #ffd500;
  color: #ffffff;
  border-color: #ffd500;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.overlay-rotate {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  gap: 30px;
  width: 100%;
  height: 100%;
  background-color: rgba(168, 162, 162, 0.9);
  z-index: 2;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.overlay-rotate > div {
  text-align: center;
}