body {
  background-image: url("img_pollo_locco/ai-generated-8607619_1920.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

#canvas-container {
  position: relative;
}

.canvas-container {
  width: 100% !important;
  height: 100% !important;
}

#canvas {
  border-radius: 10px;
  width: 100% !important;
  height: 100% !important;
}

.game-symbols {
  position: absolute !important;
  top: 5px;
  right: 10px;
  z-index: 99;
  display: flex;
  gap: 4px;
}

.game-symbols img {
  width: 30px;
}

.legend-container {
  padding: 14px;
  width: 700px;
  border-radius: 18px;
  border: solid;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.move-left,
.move-right,
.jump,
.throw {
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.description {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 25px;
}

.letter {
  background: aliceblue;
  border: double;
  font-size: 20px;
  padding: 10px;
}

.container {
  position: relative;
  width: 720px;
  height: 480px;
}

#startScreenContainer,
#gameOverScreenContainer {
  position: absolute;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: end;
}

#gameOverScreenContainer {
  background-image: url("img_pollo_locco/img/9_intro_outro_screens/game_over/oh no you lost!.png");
}

.restart-home-container {
  display: flex;
  justify-content: space-around;
  margin-top: 350px;
}

.start-game-container {
  margin-top: 350px;
  display: flex;
  justify-content: center;
}

.restart-button {
  background: #7fcd2c;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
}
